@import "../../../global.scss";

.about {
  background-color: $background-secondary;
  margin-bottom: 1rem;

  .section-header {
    margin-top: 4rem;

    .section-subtitle h3 {
      color: $accent;
    }

    h2 {
      color: white;
    }
  }

  .history-cards {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: scroll;
    flex-direction: row;
    align-items: center;
    scroll-snap-type: x mandatory;
    height: 10%;
    flex-shrink: 0;
    margin-bottom: 0;
    gap: 0;
    scroll-behavior: smooth;

    .history-card {
      flex-shrink: 0;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: start;
      overflow: visible;
      width: 90%;
      margin-bottom: 0;
      margin-top: 1rem;

      h4 {
        font-size: 3rem;
        color: $primary;
        margin: 0;
      }

      p {
        height: 20vh;
        margin: 0;
        font-size: 1rem;
        color: $background;
      }

      img {
        top: 50%;
        height: 40vh;
        border-radius: 5%;
        box-shadow: 0 0 0.5rem $primary;
        object-fit: cover;
        transform: translateY(40%);
        margin-top: 1rem;
        position: relative;
        transform: none;
        width: 100%;
      }
    }

    &:last-child {
      margin-bottom: 0rem;
    }
  }
}

@media (min-width: 445px) and (max-width: 768px) {
  .about .history-cards {
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about .history-cards {
    gap: 1rem;
    .history-card {
      width: 45%;
    }
  }
}

@media (min-width: 1024px) {
  .about .history-cards {
    overflow: visible;

    .history-card {
      position: relative;
      flex-shrink: 1;

      p {
        padding-bottom: 10rem;
      }

      img {
        position: relative;
        width: 100%;
        height: 40vh;
        margin-top: -30%;
      }
    }
  }
}
