@import "../../global.scss";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div {
    position: relative;

    .home-image {
      width: 100vw;
      object-fit: cover;
      filter: blur(4px);
      transform: scale(1.1) translateY(-10%);
      margin-bottom: 10rem;
    }

    .handwriting {
      position: absolute;
      margin-top: 30vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -120%) scale(2);
      height: 30vw;
      width: 25rem;
      z-index: 500;
      display: flex;
      justify-content: center;
      align-items: center;

      #animated-path {
        animation: dash 25s linear forwards;

        @keyframes dash {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
