@import "../../../global.scss";

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  .time-cards {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .time-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      gap: 1rem;

      h4 {
        font-size: 2.5rem;
        color: $accent;
        margin: 0;
      }

      img {
        width: 70vw;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 0.5rem 0 $secondary;
      }

      p {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .history {
    align-items: initial;
    width: 100vw;

    .time-cards {
      margin-top: -5rem;
      display: flex;
      flex-direction: row;
      padding-left: 5rem;
      gap: 10rem;
      margin-bottom: 100rem;
      overflow-y: hidden;
      overflow-x: hidden;

      .time-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;

        img {
          grid-column: 1 / 2;
          grid-row: 1 / span 2;
          width: 25vw;
          height: 50%;
          object-fit: cover;
        }

        h4,
        p {
          padding-left: 5rem;
        }

        h4 {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          margin: auto;
          margin-top: 40%;
        }

        p {
          width: 40vw;
          font-size: 1.2rem;
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          padding-bottom: 40%;
        }
      }
    }
  }
}
