@import "../../global.scss";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $background-secondary;
  padding-bottom: 2rem;

  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    h2 {
      font-family: "Dancing Script", cursive;
      font-size: 2.5rem;
      color: white;
      margin: 0;
    }

    .contact {
      width: 100%;
      margin-top: 2rem;
      gap: 0rem;

      img {
        width: 25vw;
        margin-bottom: 2rem;
      }

      p {
        margin-top: 1rem;
        font-size: 1.1rem;
        opacity: 1;
        color: rgba(white, 0.75);
        text-align: left;
        font-family: "Poppins", sans-serif;
      }
    }

    .site-map {
      width: 100%;

      h2 {
        text-align: left;
      }

      ul {
        list-style: none;
        padding: 0;

        li a {
          text-decoration: none;
          color: rgba(white, 0.75);
          font-size: 1.5rem;
        }
      }
    }

    .socials {
      margin-top: 1rem;
      width: 100%;

      h2 {
        text-align: center;
      }

      ul {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;

        li {
          flex-shrink: 1;

          a img {
            width: 10vw;
          }
        }
      }
    }
  }

  p {
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  footer {
    justify-content: space-between;
    .main-footer {
      flex-direction: row;
      justify-content: space-between;
      width: 90%;

      h2 {
        font-size: 3rem;
      }

      .contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 30%;

        img {
          width: 10vw;
        }

        p {
          font-size: 1.5rem;
        }
      }

      .site-map {
        width: 20%;

        ul {
          display: flex;
          flex-direction: column;
          gap: 0.25rem;
        }
      }

      .socials {
        height: 40vh;
        width: 20%;

        ul {
          justify-content: center;

          li a img {
            width: 2vw;
            margin: 0 0.5rem;
          }
        }
      }
    }
  }
}
