@import "../../global.scss";

.arrow-scroll {
  position: relative;
  height: 1rem;
  width: 100%;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .arrow-scroll {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .arrow-btn {
      width: 45%;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border-radius: 1rem;
      border-color: $accent;

      i {
        font-size: 1.5rem;
        color: $primary;
      }
    }
  }
}
